{% extends "BeTeenIndexBundle:Layout:Global.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="{{ asset("css/Register.css") }}" />
{% endblock %}
{% block title %}Rejoingnez nous - {{ parent() }}{% endblock %}
{% block body %}
    <div class="registerContent">
        <div class="col description">
            <h2>We want you !</h2>
            <p>
                {{ siteDescription }}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut faucibus sapien, bibendum pulvinar sapien. Nullam tincidunt pretium odio eget ultrices. Morbi a odio sed sem bibendum sagittis at at elit. Mauris eu porta tellus, sit amet lobortis neque. Cras dapibus metus vel purus molestie, sed interdum purus aliquet. Ut nisl ligula, lobortis sed gravida vel, condimentum sed lacus. Vivamus venenatis enim ac dapibus eleifend. Curabitur quam ante, eleifend non dui nec, aliquam porttitor nulla. Cras blandit mollis ante, non interdum nisi luctus ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis justo eu lectus semper venenatis ac eget urna. Fusce vel lectus ut ex vestibulum pulvinar. Donec malesuada nisl eu interdum auctor. In hac habitasse platea dictumst.

                Etiam feugiat tincidunt consectetur. Pellentesque vitae tincidunt risus. Cras tincidunt accumsan felis sit amet tempus. Duis fermentum ultrices ex. Nulla a massa vel augue sollicitudin porttitor in sed enim. Aliquam posuere justo elit, non maximus velit vestibulum non. In quis tincidunt ligula. Quisque hendrerit tempus dui, non eleifend ante rutrum quis.
            </p>
            <h3>Qu'attends tu ?</h3>
        </div>
        <div class="col">
            <form method="post" {{  form_enctype(form) }}>
                {{ form_errors(form) }}
                <div class="input">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="input">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                </div>
                <div class="input">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                </div>
                <div class="input">
                    {{ form_label(form.email.first) }}
                    {{ form_widget(form.email.first) }}
                </div>
                <div class="input">
                    {{ form_label(form.email.second) }}
                    {{ form_widget(form.email.second) }}
                </div>
                {{ form_rest(form) }}
                <input type="submit" value="Lance toi !"/>
            </form>
        </div>
    </div>
{% endblock %}
