{% extends "BeTeenAdminBundle:Layout:AdminLayout.html.twig" %}
{% block title %}sujets | {{ parent() }} {% endblock %}
{% block headerTitle %} sujets {% endblock %}
{% block body %}
    <h2>Que voulez vous configurer ?</h2>
    <nav class="menuCirculaire" >
        <table>
            <tr>
                <td><a href="{{ path("be_teen_admin_forum") }}" ><i class="fi-arrow-left"></i><h3>Retour</h3></a></td>
            </tr>
        </table>
    </nav>
    <article>
        <h2>Derniers sujets</h2>
        {% if sujets != null %}
        {% for sujet in sujets %}
            <div class="sujet">
                <h4><a href="{{ path("be_teen_forum_sujet",{'categorie':sujet.categorie.slug,'sujet':sujet.slug}) }}" title="Aller au sujet {{sujet.titre}}">{{sujet.titre}}</a></h4>
                <p>{{sujet.contenu|striptags('<br>,<br/>')|markdown}}</p>
                <table class="meta">
                    <tr><td>{{sujet.reponses|length}} reponse{% if sujet.reponses|length > 1 %}s{% endif %}</td><td>{{sujet.categorie.nom}}</td><td>{{sujet.date|date("d/m/Y")}} {{sujet.date|date("H:i")}}</td><td>{{sujet.auteur.username}}</td></tr>
                </table>
                <table class="meta">                    
                    <tr class="icones">
                        <td><a href="{{ path("be_teen_forum_sujet",{"categorie":sujet.categorie.slug,"sujet":sujet.slug}) }}" title="Aller au sujet {{sujet.titre}}" ><i class="fi-eye"></i></a></td>
                        <td><a href="{{ path("be_teen_admin_forum_sujets_verouillageswitch",{"sujet":sujet.slug}) }}" title="Verouiller le sujet {{sujet.titre}}" >
                                {% if sujet.verouille == true %}
                                <i class="fi-lock"></i>
                                {% else %}
                                <i class="fi-unlock"></i>
                                {% endif %}
                                </a></td>
                        <td><a href="{{ path("be_teen_forum_supprimer_sujet",{"sujet":sujet.slug,"categorie":sujet.categorie.slug}) }}" title="Supprimmer sujet {{sujet.titre}}" ><i class="fi-x"></i></a></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        {% else %}
            <div class="sujet">
                <h4>Pas de sujets</h4>
                <p> attendez un peux sa vas venir</p>
            </div>
        {% endif %}
    </article>
{% endblock %}