<! DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="{{asset("css/Global.css")}}" />
                <link rel="stylesheet" href="{{asset("foundation-icons/foundation-icons.css")}}" />
		<meta charset="utf-8">
		<title>{% block title %}{{siteName}}{% endblock %}</title>
		<meta name="viewport" content="width=device-width">
		{% block header %}  {% endblock %}
	</head>
	<body>
		<header>
			<h1>{{siteName}}</h1>
			 <span>{% if app.user != null %}
			 <a href="{{path("logout")}}">Déconnexion </a>
					{{app.user.username}}
					{% else %}
					Non connecté
					{% endif %}</span>
			 
			
		</header>
		<section>
			{% block body %}  {% endblock %}
		</section>
		<footer>
			{% block footer %}  {% endblock %}
			{{siteAuthors}}
		</footer>
	
	</body>
</html>