<! DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="{{asset("css/Global.css")}}" />
                <link rel="stylesheet" href="{{asset("foundation-icons/foundation-icons.css")}}" />
		<meta charset="utf-8">
		<title>{% block title %}{{siteName}}{% endblock %}</title>
		<meta name="viewport" content="width=device-width">
		{% block header %}  {% endblock %}
	</head>
	<body>
		<header>
			<div class="title"><h1><a href="{{path("be_teen_index_index")}}">{{siteName}}</a></h1>
			 </div>
					<nav id="menuPrincipal">
					<div class="menu">
						<a href="{{path("be_teen_forum_index")}}">Forum</a>
						<span>{% if app.user != null %}
			 <a href="{{path("logout")}}">Déconnexion</a>
					<a href="{{path ("be_teen_user_profil",{"username":app.user.username})}}">{{app.user.username}}
					<img src="{{asset(app.user.getAvatarChemin)}}" alt="Avatar de {{app.user.username}}" /></a>
					{% else %}
					            <a href="{{path("login")}}">Connexion</a>
                                <a href="{{path("be_teen_user_register")}}">Enregistrement</a>
					{% endif %}</span>
					</div>
					</nav>
		</header>
		<section>
			{% block body %}  {% endblock %}
		</section>
		<footer>
			{% block footer %}  {% endblock %}
			{{siteAuthors}}<br/>
                        {{siteVersion}}
		</footer>
	</body>
</html>