{% extends "BeTeenAdminBundle:Layout:AdminLayout.html.twig" %}
{% block title %}Accueil | {{ parent() }} {% endblock %}
{% block headerTitle %} Accueil {% endblock %}
{% block body %}
    <h2>Que voulez vous configurer ?</h2>
    <nav class="menuCirculaire" >
        <table>
            <tr>
                <td><a href="{{ path("be_teen_admin_forum") }}" ><i class="fi-comments"></i><h3>Forum</h3></a></td>
                <td><a href="{{ path("be_teen_admin_user") }}" ><i class="fi-torsos-all"></i><h3>Utilisateurs</h3></a></td>
                <td><a href="#" ><i class="fi-page"></i><h3>Fichiers</h3></a></td>
                <td><a href="#" ><i class="fi-megaphone"></i><h3>Annonces</h3></a></td>
                <td><a href="#" ><i class="fi-widget"></i><h3>Site</h3></a></td>
            </tr>
        </table>
    </nav>
    <article class="col-2" >
        <h2>Derniers sujets</h2>
        {{ render( controller("BeTeenAdminBundle:Forum:Sujets", {"limit":10,"inside":true} ) ) }}
    </article>
    <article class="col-2" >
        <h2>Quoi de neuf ?</h2>
        Pour le moment l'administration est un peux vide mais je fait tout ce que jeu peux pour l'améliorer :D<br/>
        Le design du site visible pour les utilisateurs non administrateur est effectée par Soad76290
        <img src="{{asset("admin/img/Smiley.png")}}" alt="Smiley" style="display: block;margin-left: auto; margin-right: auto;margin-top: 100px;"/>
    </article>
{% endblock %}