{% extends "BeTeenIndexBundle:Layout:Global.html.twig" %}
{% block title %}Ajouter un sujet | {{parent()}} {% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ asset("css/Sujet.css") }}"/>
{% endblock %}
{% block body %}        
<article>
    <form method="post" {{form_enctype(form)}} >
	<div class="sujetHead">
		<p class="sujetCat" > {{categorieActuelle.nom}}</p>
		<h1 class="sujetTitle" >{{ form_widget(form.titre) }} </h1>
	</div>
	<div class="sujetBody">
		<p> 
                    {{ form_errors(form) }}
                    {{ form_widget(form.contenu) }}
                    {{ form_rest(form)}}
                    <input type="submit" value="envoyer"/>
		</p>
	</div>
    </form> 
	<div class="sujetFooter" style="background-image: url('{{ asset(app.user.backgroundChemin) }}');">
		<div class="sujetPhoto">
				<img src="{{ asset(app.user.avatarChemin) }}" alt="Avatar de {{app.user.username}}" />
		</div>
		<div class="sujetAuteur">
			<div class="meta">
				<p>
					Par {{app.user.username}}<br/>
					Le {{"now"|date("d/m/Y")}} a {{"now"|date ("H:i")}}
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}