<! Doctype html >
<html>
    <head>
        <title>{% block title %}Administration {{ siteName }}{% endblock %}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{asset("admin/css/global.css")}}" />
        <link rel="stylesheet" href="{{asset("admin/foundation-icons/foundation-icons.css")}}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <a href='{{ path("be_teen_forum_index") }}' title="Quitter l'administration" id='sortirAdmin' ><i class="fi-x"></i></a><h1>{{ siteName }} - Espace d'administration</h1><h2>{% block headerTitle %}{% endblock %}</h2>
            {% if message in app.session.flashbag.get('info') %}
            <div class="flashInfo">
                {% for message in app.session.flashbag.get('info') %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </header>
        <section>
        {% block body %} {% endblock %}
        </section>
        <footer>
            Administration global du site {{siteName}}<br/>
            Site crée par {{siteAuthors}}<br/>
            &copy {{"now"|date("Y")}}
        </footer>
    </body>
</html>