<! Doctype html >
<html>
	<head>
		<title>Forum</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Forum</h1>
		<h2>{{categorieActuelle.nom}}</h2>
		<h3>{{categorieActuelle.description}}</h3>
                
		{% if categorieActuelle.root != categorieActuelle.id %}
                <ul>
                    <li><a href="{{ path('be_teen_forum_index') }}" >Accueil</a></li>
                    {% if categorieActuelle.parent.id != categorieActuelle.root %}
                    <li><a href="{{ path('be_teen_forum_categorie',{'categorie':categorieActuelle.parent.slug}) }}" >Catégorie précédente</a></li>
                    {% endif %}
                </ul>
		{% endif %}
                
		<dl>
			{% if listeCategories != null %}
				{% for categorie in listeCategories %}
					<dt><a href="{{ path('be_teen_forum_categorie',{'categorie':categorie.slug}) }}" >{{categorie.nom}}</a></dt>
					<dd>{{categorie.description}}</dd>
                                        {% if categorie.sujetsStandards|length != 0 %}
                                        <dd>{{ categorie.sujetsStandards|length }} Sujets</dd>
                                        {% endif %}
				{% endfor %}
			{% else %}
				<dt>Aucune Catégorie !</dt>
				<dd>Aucune sous categories dans cette catégorie</dd>
			{% endif %}
		</dl>
		<h3>Sujets</h3>
		<dl>
			{% if categorieActuelle.sujetsStandards|length != 0 %}
				{% for sujet in categorieActuelle.sujetsStandards %}
				<dt><a href="{{ path('be_teen_forum_sujet',{'categorie':categorieActuelle.slug,'sujet':sujet.slug}) }}" >{{sujet.titre}}</a></dt>
                                <dd>{{sujet.contenu|striptags('<br>')|markdown}}</dd>
				{% endfor %}
			{% else %}
				<dt>Aucun Sujet !</dt>
				<dd>Ajoutez en dont un ;)</dd>
			{% endif %}
		</dl>
	</body>
</html>