<! Doctype html >
<html>
	<head>
		<title>Forum</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Forum</h1>
		<h2>{{categorieActuelle.nom}}</h2>
		<h3>{{categorieActuelle.description}}</h3>
		<dl>
				{% if categorieActuelle.nom != "Index" %}
					<dt><a href="{{ path('be_teen_forum_index') }}" >Accueil</a></dt>
					<dt><a href="{{ path('be_teen_forum_categorie',{'categorie':categorieActuelle.categorieParente.id}) }}" >Catégorie précédente</a></dt>
				{% endif %}
			{% if listeCategories != null %}
				{% for categorie in listeCategories %}
					<dt><a href="{{ path('be_teen_forum_categorie',{'categorie':categorie.id}) }}" >{{categorie.nom}}</a></dt>
					<dd>{{categorie.description}}</dd>
                                        <dd>{{ categorie.sujetsStandards|length }} Sujets</dd>
				{% endfor %}
			{% else %}
				<dt>Aucune Catégorie !</dt>
				<dd>Aucune sous categories dans cette catégorie</dd>
			{% endif %}
		</dl>
		<h3>Sujets</h3>
		<dl>
			{% if categorieActuelle.sujetsStandards|length != 0 %}
				{% for sujet in categorieActuelle.sujetsStandards %}
				<dt><a href="{{ path('be_teen_forum_sujet',{'categorie':categorieActuelle.id,'sujet':sujet.id}) }}" >{{sujet.titre}}</a></dt>
				<dd>{{sujet.contenu|markdown}}</dd>
				{% endfor %}
			{% else %}
				<dt>Aucun Sujet !</dt>
				<dd>Ajoutez en dont un ;)</dd>
			{% endif %}
		</dl>
	</body>
</html>