{#<! Doctype html >
<html>
	<head>
		<title>Forum</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Forum</h1>
		<h2>{{categorieActuelle.nom}}</h2>
		<h3>{{categorieActuelle.description}}</h3>
                
		{% if categorieActuelle.root != categorieActuelle.id %}
                <ul>
                    <li><a href="{{ path('be_teen_forum_index') }}" >Accueil</a></li>
                    {% if categorieActuelle.parent.id != categorieActuelle.root %}
                    <li><a href="{{ path('be_teen_forum_categorie',{'categorie':categorieActuelle.parent.slug}) }}" >Catégorie précédente</a></li>
                    {% endif %}
                </ul>
		{% endif %}
                
		<dl>
			{% if listeCategories != null %}
				{% for categorie in listeCategories %}
					<dt><a href="{{ path('be_teen_forum_categorie',{'categorie':categorie.slug}) }}" >{{categorie.nom}}</a></dt>
					<dd>{{categorie.description}}</dd>
                                        {% if categorie.sujetsStandards|length != 0 %}
                                        <dd>{{ categorie.sujetsStandards|length }} Sujets</dd>
                                        {% endif %}
				{% endfor %}
			{% else %}
				<dt>Aucune Catégorie !</dt>
				<dd>Aucune sous categories dans cette catégorie</dd>
			{% endif %}
		</dl>
		<h3>Sujets</h3>
		<dl>
			{% if categorieActuelle.sujetsStandards|length != 0 %}
				{% for sujet in categorieActuelle.sujetsStandards %}
				<dt><a href="{{ path('be_teen_forum_sujet',{'categorie':categorieActuelle.slug,'sujet':sujet.slug}) }}" >{{sujet.titre}}</a></dt>
                                <dd>{{sujet.contenu|striptags('<br>')|markdown}}</dd>
				{% endfor %}
			{% else %}
				<dt>Aucun Sujet !</dt>
				<dd>Ajoutez en dont un ;)</dd>
			{% endif %}
		</dl>
	</body>
</html>
#}
<! Doctype html >
<html>
	<head>
		<title>{{categorieActuelle.nom}} | BeTeen</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ asset('css/global.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/themes.css') }}" />
	</head>
	<body>
		<section class="forums" >
                {% if listeCategories != null %}
                    {% for categorie in listeCategories %}
			<article class="forum orange" >
				<a href="{{ path('be_teen_forum_categorie',{'categorie':categorie.slug}) }}" class="nom" >
					<h3>{{categorie.nom}}</h3>
					 {% if categorie.sujetsStandards|length != 0 %}<p>{{ categorie.sujetsStandards|length }} Sujets</p>{% endif %}
				</a>
                                {% if categorie.sujetsStandards|length != 0 %}
				<div class="premierSujet" >
					<h3>{{ categorie.sujetsStandards|first.titre }}</h3>
					<p>
					{{ categorie.sujetsStandards|first.contenu }}
                                        </p>
				</div>
                                {% endif %}
			</article>
                    {% endfor %}
                {% else %}
                    <p>Rien a voir ici</p>
		{% endif %}
		</section>
		<section class="sujets" >
                {% if categorieActuelle.sujetsStandards|length != 0 %}
                    {% for sujet in categorieActuelle.sujetsStandards %}
                    <article class="sujet" >
                        <h3>{{sujet.titre}}</h3>
                        <p>{{sujet.contenu|striptags('<br>')|markdown}}</p>
                    </article>
                    {% endfor %}
                {% else %}
		<article class="sujet" >
                    <h3>Aucun sujet</h3>
                    <p>Il n'y a aucun sujet ici ...</p>
                </article>
		{% endif %}
		</section>
		<script src="assets/switch.js" ></script>
	</body>
</html>